# Dependencias
node_modules/

# Expo
.expo/
.expo-shared/

# Archivos de entorno - NUNCA SUBIR
.env
.env.local
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
