<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981284006966-4qf9vengbnlv7fntdc7o4u0tgqjjat8q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981284006966-4qf9vengbnlv7fntdc7o4u0tgqjjat8q</string>
	<key>API_KEY</key>
	<string>AIzaSyBgD-fMIOW6uyvqzhqPZDVwWkmrGBNrVVc</string>
	<key>GCM_SENDER_ID</key>
	<string>981284006966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cantinadelcharro.app</string>
	<key>PROJECT_ID</key>
	<string>cantinadelcharro</string>
	<key>STORAGE_BUCKET</key>
	<string>cantinadelcharro.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981284006966:ios:610ae6633029bb3eabbc97</string>
	<key>DATABASE_URL</key>
	<string>https://cantinadelcharro-default-rtdb.firebaseio.com</string>
</dict>
</plist>